
#user{
    width: 200px;
    margin-left: 534px;
    background-color: rgb(182, 167, 167);
    padding: 10px;
    
}
#password{
    width: 200px;
    margin-left: 534px;
    background-color: rgb(182, 167, 167);
    padding: 10px;
}
.error {
    color: #cc0000;
    margin-bottom: 12px;
  }
  #button{
      background-color: rgb(245, 67, 156);
      padding: 20px;
      margin-left: -77px;
      width: 140px;
  }
  #btn{
    background-color: rgb(245, 67, 156);
    padding: 10px;
    margin-left: -77px;
}