#container{
    width: 300px;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 100px auto;
  }
  
  form label, form input {
    display: block;
    margin-bottom: 10px;
    /* width: 90% */
  }
  
  .button {
    background-color: #00BFFF;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  #button{
    background-color: rgb(245, 67, 156);
    padding: 20px;
    margin-left: 50px;
    width: 140px;
}
#btn{
  background-color: rgb(245, 67, 156);
  padding: 10px;
  margin-left: -77px;
}